<ion-content>

    <div class="container">
        <div class="header">
            <ion-searchbar class="homeSearchBar" mode="md" placeholder="What you want to learn?"></ion-searchbar>
            <ion-icon name="menu"></ion-icon>
        </div>
        <div class="bodyContainer">
            <img class="homeBg" src="../../assets/homeBg.svg">
            <img src="../../assets/group_2.png">
            <p class="imgText">Learn/Get skilled by the <br> practice sector experts</p>
            <div class="btns">
                <ion-button [routerLink]="['/login']">Join For Free</ion-button>
                <ion-button [routerLink]="['/browse-course']" class="outlineBtn" fill="outline">Browse Courses</ion-button>
            </div>

        </div>
    </div>
</ion-content>