<ion-content>
    <div class="container">
        <div class="header">
            <p class="topicHeading">My Courses</p>
        </div>
        <div class="bodyContainer">
            <div class="image">
                <img src="../../assets/courseBg.svg">
            </div>
            <p class="content">It looks like you aren’t enrolled in any<br>courses, but it’s easy to get started.</p>
            <ion-button fill="outline">Browse Courses</ion-button>
        </div>
    </div>
</ion-content>