<ion-content>
    <div class="container">
        <div class="header">
            <p class="topicHeading">My Courses</p>
        </div>
        <div class="bodyContainer">
            <ion-segment color="warning" scrollable value="Recommended" mode="md">
                <ion-segment-button value="Recommended" layout="icon-start">
                    <ion-label>All Courses</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Most Viewed" layout="icon-start">
                    <ion-label>Ongoing</ion-label>
                </ion-segment-button>
                <ion-segment-button layout="icon-start">
                    <ion-label>Completed</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div class="allCourseContainer">
                <div class="bottomCards">
                    <ion-card mode="ios" class="bottomCard">
                        <div class="image">
                            <img src="assets/watch.png">
                            <div class="progress">
                                <div class="progressBar"></div>
                            </div>
                            <p class="percentage">56% Complete</p>

                        </div>
                        <div class="cardContent">
                            <p class="title">How To be a Better Eassay Writer in English</p>
                            <p class="contentBg">Writing</p>
                            <p class="address">Institute Name Mumbai University, India</p>
                            <p class="timeSpan"><span>5h40m</span> to go in week 2</p>
                        </div>
                    </ion-card>
                    <ion-card mode="ios" class="bottomCard">
                        <div class="image">
                            <img src="assets/image2.png">
                            <div class="progress">
                                <div class="progressBar"></div>
                            </div>
                            <p class="percentage">56% Complete</p>
                        </div>
                        <div class="cardContent">
                            <p class="title">How To be a Better Eassay Writer in English</p>
                            <p class="contentBg">Writing</p>
                            <p class="address">Institute Name Mumbai University, India</p>
                            <p class="timeSpan"><span>5h40m</span> to go in week 2</p>

                        </div>
                    </ion-card>
                    <ion-card mode="ios" class="bottomCard">
                        <div class="image">
                            <img src="assets/watch.png">
                            <div class="progress">
                                <div class="progressBar"></div>
                            </div>
                            <p class="percentage">56% Complete</p>

                        </div>
                        <div class="cardContent">
                            <p class="title">How To be a Better Eassay Writer in English</p>
                            <p class="contentBg">Writing</p>
                            <p class="address">Institute Name Mumbai University, India</p>
                            <p class="timeSpan"><span>5h40m</span> to go in week 2</p>
                        </div>
                    </ion-card>
                </div>
            </div>
            <div class="ongoingCourseContainer">
                <div class="bottomCards">
                    <ion-card mode="ios" class="bottomCard">
                        <div class="image">
                            <img src="assets/watch.png">
                            <div class="progress">
                                <div class="progressBar"></div>
                            </div>
                            <p class="percentage">56% Complete</p>

                        </div>
                        <div class="cardContent">
                            <p class="title">How To be a Better Eassay Writer in English</p>
                            <p class="contentBg">Writing</p>
                            <p class="address">Institute Name Mumbai University, India</p>
                            <p class="timeSpan"><span>5h40m</span> to go in week 2</p>
                        </div>
                    </ion-card>
                    <ion-card mode="ios" class="bottomCard">
                        <div class="image">
                            <img src="assets/image2.png">
                            <div class="progress">
                                <div class="progressBar"></div>
                            </div>
                            <p class="percentage">56% Complete</p>
                        </div>
                        <div class="cardContent">
                            <p class="title">How To be a Better Eassay Writer in English</p>
                            <p class="contentBg">Writing</p>
                            <p class="address">Institute Name Mumbai University, India</p>
                            <p class="timeSpan"><span>5h40m</span> to go in week 2</p>

                        </div>
                    </ion-card>

                </div>
            </div>
            <div class="completedCourseContainer">
                <div class="bottomCards">
                    <ion-card mode="ios" class="bottomCard">
                        <div class="image">
                            <img src="assets/watch.png">
                            <div class="progress">
                                <div class="progressBar"></div>
                            </div>
                            <p class="percentage">56% Complete</p>

                        </div>
                        <div class="cardContent">
                            <p class="title">How To be a Better Eassay Writer in English</p>
                            <p class="contentBg">Writing</p>
                            <p class="address">Institute Name Mumbai University, India</p>
                            <p class="timeSpan"><span>5h40m</span> to go in week 2</p>
                        </div>
                    </ion-card>


                </div>
            </div>
        </div>
    </div>
</ion-content>