<ion-content>
    <div class="container">
        <div class="header">
            <ion-icon slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
            <ion-icon slot="end" name="menu-outline"></ion-icon>
        </div>
        <div class="bodyContainer">
            <p class="topicHeading">Popular Courses</p>
            <div class="bottomCards">
                <ion-card mode="ios" class="bottomCard">
                    <div class="image">
                        <img src="assets/watch.png">
                    </div>
                    <div class="cardContent">
                        <p class="title">How To be a Better Eassay Writer in English</p>
                        <p class="contentBg">Personal Devlelopment</p>
                        <p class="address">Institute Name Mumbai University, India</p>
                    </div>
                </ion-card>
                <ion-card mode="ios" class="bottomCard">
                    <div class="image">
                        <img src="assets/image2.png">
                    </div>
                    <div class="cardContent">
                        <p class="title">How To be a Better Eassay Writer in English</p>
                        <p class="contentBg">Personal Devlelopment</p>
                        <p class="address">Institute Name Mumbai University, India</p>
                    </div>
                </ion-card>
                <ion-card mode="ios" class="bottomCard">
                    <div class="image">
                        <img src="assets/watch.png">
                    </div>
                    <div class="cardContent">
                        <p class="title">How To be a Better Eassay Writer in English</p>
                        <p class="contentBg">Personal Devlelopment</p>
                        <p class="address">Institute Name Mumbai University, India</p>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>

</ion-content>