<ion-content>


    <div class="container">
        <ion-searchbar class="homeSearchBar" mode="md" placeholder="What you want to learn?"></ion-searchbar>

        <p class="john"> Hi, John Doe</p>
        <p class="cardTitle">Continue with your course</p>
        <ion-card mode="ios">
            <div class="image">
                <img src="assets/watch.png">
            </div>
            <div class="cardContent">
                <p class="title">How To be a Better Eassay Writer in English</p>
                <p class="contentBg">Personal Devlelopment</p>
                <p class="address">Institute Name Mumbai University, India</p>
                <p>56% Complete</p>


                <div class="progress">
                    <div class="progressBar"></div>
                </div>
            </div>
        </ion-card>
        <ion-segment color="warning" scrollable value="Recommended" mode="md">
            <ion-segment-button value="Recommended" layout="icon-start">
                <ion-label>Recommended</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Most Viewed" layout="icon-start">
                <ion-label>Most Viewed</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start">
                <ion-label>Popular</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Top Courses" layout="icon-start">
                <ion-label>Top Courses</ion-label>
            </ion-segment-button>
        </ion-segment>
        <div class="cardContainer">
            <div class="cardBlock">
                <img class="image" src="assets/card1.png">
                <p class="cat">Category</p>
                <p class="cardTitle">How To be a Better Eassay Writer</p>
                <p class="desc">There’s a quick and easy way to help your kids …</p>
            </div>
            <div class="cardBlock">
                <img src="assets/card1.png">
                <p class="cat">Category</p>
                <p class="cardTitle">How To be a Better Eassay Writer</p>
                <p class="desc">There’s a quick and easy way to help your kids …</p>
            </div>
            <div class="cardBlock">
                <img src="assets/card1.png">
                <p class="cat">Category</p>
                <p class="cardTitle">How To be a Better Eassay Writer</p>
                <p class="desc">There’s a quick and easy way to help your kids …</p>
            </div>
            <div class="cardBlock">
                <img src="assets/card1.png">
                <p class="cat">Category</p>
                <p class="cardTitle">How To be a Better Eassay Writer</p>
                <p class="desc">There’s a quick and easy way to help your kids …</p>
            </div>
            <div class="cardBlock">
                <img src="assets/card1.png">
                <p class="cat">Category</p>
                <p class="cardTitle">How To be a Better Eassay Writer</p>
                <p class="desc">There’s a quick and easy way to help your kids …</p>
            </div>
            <div class="cardBlock">
                <img src="assets/card1.png">
                <p class="cat">Category</p>
                <p class="cardTitle">How To be a Better Eassay Writer</p>
                <p class="desc">There’s a quick and easy way to help your kids …</p>
            </div>

        </div>
        <div class="catHeading">
            <p>Browse by categories</p>
            <p class="viewAll">View All</p>
        </div>
        <div class="catContainer">
            <div class="cardBlock">
                <div class="image">
                    <img src="../../assets/Group8.png"></div>
                <p>Personal Development</p>
            </div>
            <div class="cardBlock">
                <div class="image">
                    <img src="../../assets/Group9.png">
                </div>
                <p>Finance & Accounting</p>
            </div>
            <div class="cardBlock">
                <div class="image">
                    <img src="../../assets/Group10.png">
                </div>
                <p>Office Productivity</p>
            </div>
            <div class="cardBlock">
                <div class="image">
                    <img src="../../assets/Group8.png">
                </div>
                <p>Office Productivity</p>
            </div>

        </div>
    </div>
    <app-custom-tab-bar></app-custom-tab-bar>

</ion-content>