<ion-content>
    <div class="container">
        <div class="header">
            <ion-icon slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
        </div>
        <div class="bodyContainer">
            <p class="topicHeading">Browse Categories</p>
            <div class="contentContainer">
                <div class="contentBlock">
                    <p>Personal Development</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Law and Order</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Health & Fitness</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Finance & Accounting</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Office Productivity</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Marketing</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Advertisement</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
                <div class="contentBlock">
                    <p>Advertisement</p>
                    <ion-icon name="chevron-forward"></ion-icon>
                </div>
            </div>
        </div>

    </div>
</ion-content>