<ion-content>
    <div class="container">
        <div class="header">
            <ion-icon slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
            <ion-icon slot="end" name="menu-outline"></ion-icon>
        </div>
        <div class="bodyContainer">
            <p class="headingMain">Browse Courses</p>
            <div class="headingCard">
                <p class="heading">Popular Courses</p>
                <p class="viewAll" [routerLink]="['/popular-course']">View All</p>
            </div>
            <div class="cardContainer">

                <div class="cardBlock">
                    <img class="image" src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>

            </div>

            <div class="headingCard">
                <p class="heading">Most Viewed</p>
                <p class="viewAll">View All</p>
            </div>
            <div class="cardContainer">

                <div class="cardBlock">
                    <img class="image" src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>
                <div class="cardBlock">
                    <img src="assets/card1.png">
                    <p class="cat">Category</p>
                    <p class="cardTitle">How To be a Better Eassay Writer</p>
                    <p class="desc">There’s a quick and easy way to help your kids …</p>
                </div>

            </div>

            <p class="topicHeading">Popular Topics</p>
            <div class="topics">
                <p class="topicName">Advertisement</p>
                <p class="topicName">Law & Order</p>
                <p class="topicName">Finance & Accounting</p>
                <p class="topicName">Health & Fitness</p>
                <p class="topicName">Marketing</p>
                <p class="topicName">Office Productivity</p>
            </div>

            <p class="topicHeading">All Courses</p>
            <div class="bottomCards">
                <ion-card mode="ios" class="bottomCard">
                    <div class="image">
                        <img src="assets/watch.png">
                    </div>
                    <div class="cardContent">
                        <p class="title">How To be a Better Eassay Writer in English</p>
                        <p class="contentBg">Personal Devlelopment</p>
                        <p class="address">Institute Name Mumbai University, India</p>
                    </div>
                </ion-card>
                <ion-card mode="ios" class="bottomCard">
                    <div class="image">
                        <img src="assets/image2.png">
                    </div>
                    <div class="cardContent">
                        <p class="title">How To be a Better Eassay Writer in English</p>
                        <p class="contentBg">Personal Devlelopment</p>
                        <p class="address">Institute Name Mumbai University, India</p>
                    </div>
                </ion-card>
                <ion-card mode="ios" class="bottomCard">
                    <div class="image">
                        <img src="assets/watch.png">
                    </div>
                    <div class="cardContent">
                        <p class="title">How To be a Better Eassay Writer in English</p>
                        <p class="contentBg">Personal Devlelopment</p>
                        <p class="address">Institute Name Mumbai University, India</p>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>